@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

#options {
  display: none;
  padding: 0.75rem 1rem;
  margin: 0;
}

#star-image {
  width: 1.25rem;
}

.top-reviews {

  &__title {
    font-family: Roboto-Medium;
    font-size: 24px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    &__label {
      padding-right: 0.5rem;
      margin-bottom: 1.5rem;
    }

    &__search {
      box-sizing: border-box;
      background-image: url('../../assets/icons/search_24dp.svg');
      background-position: left;
      background-size: 1.5rem;
      background-repeat: no-repeat;

      width: 10rem;
      height: 2rem;
      padding: 0.3rem 1.75rem;
      border: 1px solid $dropdown-background;
      border-radius: 8px;

      &__options-list {
        display: none ;
        background-color: #FFF;
        width: 25vw;
        margin-top: 1rem;
        // padding: 0.25rem 1rem;
        border-radius: 5px;

        &__options {

          &:hover {
            cursor: pointer;
            border-radius: 5px;
            background-color: $buttons;
            color: #FFF;
          }
        }
      }
    }

    &__button {
      cursor: pointer;
      width: 5rem;
      height: 2rem;
      color: #FFF;
      background-color: $buttons;

      padding: 0.5rem 0;
      border: none;
      border-radius: 10px;
      margin-top: 1.5rem;

      &:active {
        background-color: $dropdown-background;
      }
    }
  }

  &__results {
    margin: 3rem 0;

    &__title {
      font-family: Roboto-Medium;
      font-size: 24px;
      border-bottom: 1px solid $divider;
    }

    &__list {
      margin-bottom: 2.25rem;
      &__name {
        font-family: Roboto-Bold;
        margin: 0;
      }

      &__summary {
        font-family: Roboto-Italic;
        margin: 0;
        margin-top: 0.5rem;
      }
    }

  }

  &__notes {
    width: 50vw;
    margin: 1rem 0 3rem 0;

    &__title {
      font-family: Roboto-Regular;
      font-size: 18px;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $divider;
    }

    &__desc {
      font-family: Roboto-Regular;
    }
  }

}