$web-background: #F2F2F2;
$font-color: #000000;
$alternate-font-color: #FFFFFF;
$header-background: #232F3E;
$header-font: #FFFFFF;
$buttons: #2E66E5;
$buttons-hover: #232940;
$dropdown-background: #37475A;
$divider: #BDC5D5;