@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

a {
  padding-left: 0.25rem;
  text-decoration: none;
}

.tableau-block {
  height: 842px;
  width: 1150px;
  z-index: 11;

  @include large-desktop {
    width: 1600px;
  }
}

.tableau {
  display: flex;
  flex-direction: column;

  &__title {
    font-family: Roboto-Medium;
    font-size: 24px;
  }

  &__dashboard {
    width: auto;
    margin-left: 6rem;
  }

  &__notes {
    width: 50vw;
    margin: 1rem 0 3rem 0;

    &__title {
      font-family: Roboto-Regular;
      font-size: 18px;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $divider;
    }

    &__desc {
      font-family: Roboto-Regular;
    }
  }
}
