@use './styles/partials/colors' as *;
@use './styles/partials/fonts' as *;

body {
  background-color: $web-background;
  font-family: Roboto-Regular;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}